@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes indicator-bar {
  0% {
    width: 0;
  }
  50% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

@layer utilities {
  .indicator {
    animation: indicator-bar 800ms ease-in-out forwards;
  }
}
